body
{
    background-color: #6E6658;

</div>
}
a:link
{
    columns:#6E6658 ;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a:visited
{
    color: #4F4A41;
    background-color:antiquewhite;
    text-decoration: none;
    padding: 15px;
}
a:hover
{
    color: #4F4A41;
    background-color:antiquewhite;
    text-decoration: none;
    padding: 15px;
}
a:active
{
    color: #4F4A41;
    background-color: antiquewhite;
    text-decoration: none;
    padding: 15px;
}